        footer {
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .icon-container {
            display: flex;
            align-items: center;
        }

        .icon {
            margin-right: 5px;
        }